
body {
   display: flex;
   flex-direction: column;
   margin: 0;
   font-family:'Roboto', sans-serif;
    
}

.header {
    height: 500px;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
    
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    
    
}

.nav-links {
    font-weight: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    gap: 24px; 
     
}

.heading {
    display: flex ;
    justify-content: center;
    gap: 50px;
       
}

.left {
    width: 460px;
    
    
    
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    
    
   
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sign-up-main {
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 8px;
    width: 120px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;

}

.main {
    display: flex;
    flex-direction: column;
   

}
    
.container {
    display: flex;
    height: 400px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
    
}
    
.title-two {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 60px;  
}

.box {
    
    border: 4px solid  #2775f1;
    height: 160px;
    width: 160px;
    border-radius: 14px;
   
}
    
.info {
    font-weight: 18px;
    color: #9a9b9c;
    max-width: 160px;
    text-align: center;

}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    height: 400px;
    padding-left: 260px;
    padding-right: 260px;

}

.thor {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.sec-quote {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.end {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 130px;
    border-radius: 8px;
}

.card1 {
    font-size: 18px;
    font-weight: bold;
}

.sign-up {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    padding: 4px;
    width: 120px;
    border-radius: 8px;
}

.footer {
    height: 100px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}